*.pyc

tmp/
data/

newtphys.github.io/

.DS_Store/
.venv
.vscode

/output*/



answering_questions/categories_old/

simple_vqa_old.json
simple_vqa_m_old.json

tmp_parallel.sh

test/

submodules/

analysis_example/*

.vscode/

main_parallel.dist/**
main_parallel.build/**


rsync*

analysis_v2/*
!analysis_v2/output/
analysis_v2/output/*
!analysis_v2/output/run_16_general/