*.pyc
.DS_Store

.venv/
.vscode/

tmp/
data/
test/
submodules/
newtphys.github.io/

output*/
analysis_example/
analysis_v2/

!analysis_v2/output/
analysis_v2/output/*
!analysis_v2/output/run_16_general/

main_parallel.dist/
main_parallel.build/

rsync*
tmp_parallel.sh

analysis_old/*
analysis/*
