*.pyc
.DS_Store

.venv/
.vscode/

tmp/
data/
test/
submodules/
newtphys.github.io/

output*/

analysis/output/*
!analysis/output/
!analysis/output/run_23*/
!analysis/output/run_23*/**
!analysis/output/run_24*/
!analysis/output/run_24*/**

main_parallel.dist/
main_parallel.build/

rsync*
tmp_parallel.sh

supp_material_scripts/figures

supp_material_scripts/questions_paper/**
supp_material_scripts/questions_paper_site_video/**
visualization_3/*
supp_material_scripts/figures
